h1, h2, h3 {
  color: #990000;
}

h1 {
  margin-top: 84px;
}

ul.bt-contents, .bt-contents ul {
  list-style-type: none;
}

.bt-contents a:link, .bt-contents a:active, .bt-contents a:hover, .bt-contents a:visited {
  text-decoration: none;
  color: #990000;
}

.code {
  font-family: monospace;
  color: #990000;
}

p {
  margin-left: 16px;
}

pre {
  background-color: #CCCCCC;
  margin: 0 16px;
  padding: 16px;
  border-radius: 4px;
}

.example {
  margin: 16px;
  padding: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.warning {
  margin: 16px;
  padding: 16px;
  border: solid 1px #ffeeba;
  color: #856404;
  background-color: #fff3cd;
  border-radius: 4px;
}

#registry-index {
  width: 33%;
  float: left;
  padding: 15px;
}

#registry-index a {
  text-decoration: none;
}

#registry-index a.active {
  font-weight: bold;
}

#registry-body {
  width: 67%;
  float: left;
  position: relative;
  min-height: 200px;
}

#registry-body #spinner {
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.5;
  transition: opacity .3s;
}

#registry-body #registry-content {
  position: relative;
  z-index: 2;
  padding: 15px;
  opacity: 1;
  transition: opacity .3s;
}

#registry-body .transparent {
  opacity: 0 !important;
}

#registry-content table {
  font-size: 16px;
  color: #222222;
}

#registry-content th, #registry-content td {
  text-align: left;
  padding: 5px;
  vertical-align: top;
}

#registry-content table ul {
  font-family: monospace;
}

.hint {
  opacity: 33%;
  display: inline-block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-weight: bold;
  border: 2px solid;
  text-align: center;
  margin-left: 8px;
  cursor: help;
}
