* {
  box-sizing: border-box;
}

body {
  background-color: #F0F0F0;
  color: #222222;
  font-family: 'Open Sans', sans;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans;
  font-weight: 800;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2F2F2F;
  min-height: 64px;
}

.navbar a:link, .navbar a:hover, .navbar a:active, .navbar a:visited {
  color: #F0F0F0;
  text-decoration: none;
  margin-top: 20px;
  display: block;
  transition: color .2s;
}

.navbar a:hover, .navbar a:active, .navbar a.active {
  color: #990000;
}

.nav {
  float: left;
}

.tech {
  float: right;
}

.float {
  max-width: 1200px;
  margin:0 auto;
  padding: 0 16px
}

.reset {
  clear: both;
}

.jumbotron {
  background-color: #333333;
  width: 100%;
  padding-top: 64px;
}

.jumbotron img {
  width: 100%;
  max-width: 250px;
  float: left;
  margin-right: 64px;
  margin-bottom: 32px;
}

.jumbotron h1 {
  color: #990000;
  font-weight: 800;
  font-size: 400%;
}

.jumbotron h3 {
  font-weight: 400;
  color: #F0F0F0;
  font-size: 150%;
  padding-bottom: 16px;
}

.detail-pane {
  width: 33%;
  float: left;
  padding: 16px;
}

.detail-pane h2 {
  color: #990000;
}

.detail-pane td {
  border: 1px solid #DDDDDD;
}

.detail-pane table {
  width: 100%;
}

.highlight {
  font-weight: 600;
  color: #990000;
}

.footer {
  text-align: center;
  color: #CCCCCC;
  padding: 32px 0;
}

.footer a:link, .footer a:hover, .footer a:active, .footer a:visited {
  color: #CCCCCC;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .nav {
    margin-right: 32px;
  }
  
  .tech {
    margin-left: 32px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .nav {
    margin-right: 16px;
  }
  
  .tech {
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }

  .nav {
    margin-right: 16px;
  }
  
  .tech {
    margin-left: 16px;
  }

  .jumbotron h1 {
    font-size: 300%;
    text-align: center;
  }

  .jumbotron h3 {
    font-size: 120%;
    text-align: center;
  }

  .jumbotron img {
    max-width: 200px;
    float: none;
    margin: 16px auto 0;
    display: block;
  }

  .detail-pane {
    width: 100%;
  }
}
