h1 {
  margin-top: 84px;
  color: #990000;
}

.test-case {
  background-color: #CCCCCC;
  color: #FFFFFF;
  padding: 4px 32px;
  margin: 0 auto 4px;
  border-radius: 4px;
  max-width: 600px;
}

.break {
  margin-top: 16px;
}

.passing {
  background-color: #339933;
}

.failing {
  background-color: #993333;
}

#suite {
  font-weight: bold;
}
